#h1{
  color:black;
	background-color:rgba(250, 128, 114, 0.352);
  text-align:center;
	font-family:'Times New Roman', Times, serif;
	margin:0px;
	padding:6px;
}
body, html{
  margin:0px;
  padding:0px;
  width:100%;
}
#image1{
	width:100%;
	background-color:rgba(250, 128, 114, 0.352);
}
img:hover{
	cursor:help;
}
img{
	width:96%;
	border-color:black;
	border-width:1%;
	border-radius:3px;
	border-style:double;
	margin:1%;
	background-color:brown;
}
#header{
	text-align:center;
	color:black;
}
.links{
	color:grey;
	text-decoration:none;
	cursor:help;
}
.links:hover{
	cursor:help;
}
p, a{
	font-family:'Times New Roman', Times, serif;
}
#main{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: linear-gradient(to bottom,rgba(250, 128, 114, 0.352) 0%,white 100%);
	background-blend-mode:screen;	
}
